body{
    cursor: url("/img/cur1.png"), default !important;
}
div {
    cursor: url("/img/cur1.png"), default !important;
}
a:hover {
    cursor: url("/img/cur1.png"), pointer !important;
}
a:hover span {
    cursor: url("/img/cur1.png"), pointer !important;
}
div:hover img {
    cursor: url("/img/cur1.png"), pointer !important;
}
div:hover span {
    cursor: url("/img/cur1.png"), pointer !important;
}
div:hover button {
    cursor: url("/img/cur1.png"), pointer !important;
}
div:hover textarea {
    cursor: url("/img/cur2.png"), pointer !important;
}
div:hover input {
    cursor: url("/img/cur2.png"), pointer !important;
}
